---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/BaseLayout.astro';
import EventList from '../../components/EventList.astro';
import Intro from '../../components/Intro.astro';
import { getLocaleCollectionUrl, useTranslations } from '../../i18n/utils';
const t = useTranslations(Astro.currentLocale);
import { getLocalizedStaticPaths } from '../../i18n/utils';
import FeaturedEvent from '../../components/FeaturedEvent.astro';
import Hero from '../../components/Hero.astro';

export async function getStaticPaths() {
  return getLocalizedStaticPaths();
}

const today = new Date();

const futureEvents = await getCollection('events', (item) => {
  const date = item.data.endDate ?? item.data.startDate;
  const locale = item.id.split('/')[0];
  item.id = item.id.replace(`${locale}/`, '');
  return date >= today && locale === Astro.currentLocale && !item.data.featured;
});

const futureEventsSorted = futureEvents.sort((a, b) => {
  return a.data.startDate - b.data.startDate;
});

const pastEvents = await getCollection('events', ({ id, data }) => {
  const date = data.endDate ?? data.startDate;
  return date < today && id.startsWith(Astro.currentLocale + '/');
});

const pastEventsSorted = pastEvents.sort((a, b) => {
  return b.data.startDate - a.data.startDate;
});

const featureEventsToCome = await getCollection('events', (item) => {
  const date = item.data.endDate ?? item.data.startDate;
  const locale = item.id.split('/')[0];
  item.id = item.id.replace(`${locale}/`, '');
  return date >= today && locale === Astro.currentLocale && item.data.featured;
});
---

<style lang="scss">
  @use '../../styles/mq';

  .events {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    margin: var(--spacing-xl) 0;

    @include mq.tablet {
      gap: var(--spacing-2xl);
      margin: var(--spacing-2xl) 0;
    }
  }
</style>

<Layout pageTitle="O░V░E░R░F░L░O░W">
  {featureEventsToCome[0] && <FeaturedEvent event={featureEventsToCome[0]} />}

  <section class="events">
    <EventList
      title="Programme"
      events={futureEventsSorted}
      fallback={t('event.fallback')}
    />
    <EventList title="Archives" events={pastEventsSorted} />
  </section>
</Layout>
