---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Button from '../../components/Button.astro';
import Hero from '../../components/Hero.astro';
import LongFormContent from '../../components/LongFormContent.astro';
import { displayDateTimeSchedule } from '../../utils';

export async function getStaticPaths() {
  const posts = await getCollection('news');
  return posts.map((news) => ({
    params: { id: news.id },
    props: { news },
  }));
}

const { news } = Astro.props;
const { Content } = await render(news);
---

<style lang="scss">
  @use '../../styles/mq';
  .chapo {
    margin-bottom: 2rem;
    font-size: var(--typography-fontsize-l);
    line-height: 1.5;
    border-bottom: solid white 1px;
    padding-bottom: 2rem;
  }
</style>

<BaseLayout pageTitle={news.data.title} pageCover={news.data.cover} pageDescription={news.data.description}>
  <section class="with-spacing">
    <Hero title={news.data.title} above={news.data.date.toLocaleDateString('en-UK')} bg={news.data.cover} />

    <div class="container">
      
      <div class="copy">
        <LongFormContent>
          <b class="chapo">
            {news.data.description}
          </b>
          <Content />
        </LongFormContent>
      </div>
    </div>
  </section>
</BaseLayout>
