---
import { Image } from 'astro:assets';
import SectionTitle from './SectionTitle.astro';

interface Props {
  title: string;
  above?: string;
  below?: string;
  bg?: object;
  href?: string;
  lg?: boolean;
  sectionTitle?: string;
}

const { above, title, below, bg, href, lg, sectionTitle } = Astro.props;
---

<style lang="scss">
  @use '../styles/mq';

  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);

    @include mq.tablet {
      padding-top: var(--spacing-xl);
      gap: var(--spacing-l);
    }

    @include mq.desktop {
      margin-bottom: var(--spacing-2xl);
    }

    &.is-large {
      padding-top: var(--spacing-xl);
      margin-bottom: var(--spacing-xl);

      @include mq.desktop {
        padding-top: var(--spacing-2xl);
        margin-bottom: var(--spacing-2xl);
      }

      /*@include mq.desktop {*/
      /*  margin-bottom: var(--spacing-2xl);*/
      /*}*/
    }

    &--above {
      color: var(--color-text-accent);

      @include mq.tablet {
        font-size: var(--typography-fontsize-l);
      }
    }

    &--title h1 {
      font-size: var(--typography-fontsize-xl);
      letter-spacing: 0.1em;
      line-height: 1;
      font-weight: 400;

      @include mq.desktop {
        font-size: var(--typography-fontsize-2xl);
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &--above p,
    &--below p,
    &--title h1 {
      background-color: var(--color-bg-base);
      display: inline;
    }

    &--cover {
      /*margin-top: var(--spacing-l);*/
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      @include mq.desktop {
        /*position: fixed;*/
        /*top: var(--spacing-2xl);*/
        /*right: var(--spacing-l);*/
      }

      img {
        aspect-ratio: 3/2;
        height: 100%;
        object-fit: cover;
      }
    }
  }
</style>

<section class:list={['hero', { 'is-large': lg }]}>
  {
    bg && (
      <picture class="hero--cover">
        {href ? (
          <a href={href}>
            <Image src={bg} format="avif" alt="" width="1000" />
          </a>
        ) : (
          <Image src={bg} format="avif" alt="" width="1000" />
        )}
      </picture>
    )
  }

  {sectionTitle && <SectionTitle>{sectionTitle}</SectionTitle>}

  {
    above && (
      <div class:list={['hero--above', { 'with-spacing-left': sectionTitle }]}>
        <p>{above}</p>
      </div>
    )
  }
  <div class:list={['hero--title', { 'with-spacing-left': sectionTitle }]}>
    <h1>{href ? <a href={href}>{title}</a> : title}</h1>
  </div>
  {
    below && (
      <div class:list={['hero--below', { 'with-spacing-left': sectionTitle }]}>
        <p>{below}</p>
      </div>
    )
  }
</section>
