---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import Hero from '../../../components/Hero.astro';
import LongFormContent from '../../../components/LongFormContent.astro';

export async function getStaticPaths() {
  const posts = await getCollection('articles');
  return posts.map((article) => {
    const locale = article.id.split('/')[0];
    article.id = article.id.replace(`${locale}/`, '');
    return {
      params: { id: article.id, locale },
      props: { article },
    };
  });
}

const { article } = Astro.props;
const { Content } = await render(article);
---

<style lang="scss">
  @use '../../../styles/mq';

  .chapo {
    margin-bottom: 2rem;
    font-size: var(--typography-fontsize-l);
    line-height: 1.5;
    border-bottom: solid white 1px;
    padding-bottom: 2rem;
  }
</style>

<BaseLayout
  pageTitle={article.data.title}
  pageCover={article.data.cover}
  pageDescription={article.data.description}
>
  <section class="with-spacing">
    <Hero
      title={article.data.title}
      above={article.data.date.toLocaleDateString('en-UK')}
      bg={article.data.cover}
    />

    <div class="container">
      <div class="copy">
        <LongFormContent>
          <b class="chapo">
            {article.data.description}
          </b>
          <Content />
        </LongFormContent>
      </div>
    </div>
  </section>
</BaseLayout>
