---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Button from '../../components/Button.astro';
import Hero from '../../components/Hero.astro';
import LongFormContent from '../../components/LongFormContent.astro';
import {displayDateTimeSchedule} from '../../utils';

export async function getStaticPaths() {
  const posts = await getCollection('events');
  return posts.map((event) => ({
    params: { id: event.id },
    props: { event },
  }));
}

const { event } = Astro.props;
const { Content } = await render(event);
---

<style lang="scss">
  @use '../../styles/mq';

  .event-container {
    position: relative;

    @include mq.tablet {
      margin-top: var(--spacing-xl);
    }
  }

  .event-content {
    padding: var(--spacing-m) 0;

    @include mq.desktop {
      width: 50%;
    }
  }

  .event-content-container {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--spacing-l);
    margin-top: var(--spacing-l);

    @include mq.desktop {
      margin-top: var(--spacing-2xl);
      flex-direction: row;
    }
  }

  .event-ticket {
    background-color: var(--color-bg-base);
    padding: var(--spacing-m);
    max-width: 40em;

    @include mq.desktop {
      width: 50%;
    }
  }
</style>

<BaseLayout pageTitle={event.data.title} pageCover={event.data.cover} pageDescription={event.data.artists?.join(' / ')}>
  <section class="event-container with-spacing">
    <Hero
      title={event.data.title}
      above={displayDateTimeSchedule(event.data.startDate, event.data.endDate, event.data.schedule)}
      below={event.data.artists?.join(' / ')}
      bg={event.data.cover}
    />

    <div class="event-content-container">
      <div class="event-content copy">
        <LongFormContent>
          <Content />
        </LongFormContent>
      </div>
      {
        event.data.ticket && (
          <div class="event-ticket">
            <Button href={event.data.ticket} title="Buy tickets online" large full target="_blank">
              {event.data.free === true ? 'Free' : ''}
              Tickets ↗
            </Button>
          </div>
        )
      }
    </div>
  </section>
</BaseLayout>
