---
import {getCollection, getEntries, render} from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import SectionTitle from '@components/SectionTitle.astro';
import LongFormContent from "@components/LongFormContent.astro";
import Hero from "@components/Hero.astro";
import List from "@components/List.astro";
import ListItem from "@components/ListItem.astro";
import {useTranslations} from "../../../i18n/utils";

const t = useTranslations(Astro.currentLocale);

export async function getStaticPaths() {
    const posts = await getCollection('artists');
    return posts.map((artist) => {
        const locale = artist.id.split('/')[0];
        artist.id = artist.id.replace(`${locale}/`, '');
        
        return ({
            params: {id: artist.id, locale},
            props: {artist},
        });
    });
}

const {artist} = Astro.props;
const {Content} = await render(artist);
const events = await getEntries(artist.data.events);
---
<style lang="scss">
    .content {
      margin-bottom: var(--spacing-l);
    }
</style>

<BaseLayout pageTitle={artist.data.name} pageCover={artist.data.cover}>
    <Hero title={artist.data.name} bg={artist.data.cover} below={artist.data.subname} />
    
    <div class="content with-spacing">
        <LongFormContent>
            <Content/>
        </LongFormContent>
    </div>

    <!--
    {events.length && (
             <SectionTitle>Participations</SectionTitle>
    
             <List class="with-spacing">
                 {
                     events?.map((event) => (
                             <ListItem>
                                 <a href={`/events/${event.id}`}>{event.data.startDate.getFullYear()} — {event.data.title}</a>
                             </ListItem>
                     ))
                 }
             </List>
    )}
    -->

    {artist.data.links.length && (
            <SectionTitle>{t('labels.links')}</SectionTitle>

            <List class="with-spacing">
                {artist.data.links.map((link) => (
                        <ListItem>
                            <a target="_blank" href={link.url}>{link.label}</a>
                        </ListItem>
                ))}
            </List>
    )}
</BaseLayout>
